<html>
    <head>
        <title>:) El blog de H CORTES H ... </title>
    </head>
    <body>

    <div>
        <h1><a href="">BLOG DE H CORTES H</a></h1>
    </div>


{%for post in posts %}
    <div>
<p>__ __ __ __ __</p>
    <h3><a href="">Titulo : {{post.title}}</a></h3>
    <p>publicado el día: {{ post.published_date}}<p>
    <p>{{post.text|linebreaks}}</p>
    </div>
{% endfor %}


        <p>-----------------------------------------</p>
        <p>       ¡  Hola !, FUNCIONA               </p>
        <p>-----------------------------------------</p>

    </body>
</html>
